/* Styles for 4x4 grid */
.grid4x4 {
    width: 16px;
    margin-right: 5px;
    float: left;
}
.grid4x4 .cell:first-child, .grid4x4 .cell:nth-child(3) {
    border-left: solid 1px #999;
}

.grid4x4 .cell:first-child, .grid4x4 .cell:nth-child(2) {
    border-top: solid 1px #999;
}
.grid4x4 .cell {
    border-right: solid 1px #999;
    border-bottom: solid 1px #999;
    float: left;
    margin: 0px;
    padding: 0px;
    background-color: #ddd; 
}
.grid4x4 .cell:hover {
    background-color: #aaa; 
}

.mapcell {
    border: solid thin black;
    height: 400px;
    margin-left: 10px;
    margin-top: 10px;
}

/* Add transparent overlay onto maps */
.mapcell {
    position: relative;
}

div.mapcell svg.map { z-index: 1; }

div.mapcell div {
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: 0;
    padding: 4px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    overflow: hidden;
}

div.mapcell div.blackbg {
    z-index: 2;
    background-color: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
}

div.mapcell div.label {
    z-index: 3;
    color: white;
}

/* End transparent overlay */

ul#indicatorlist {
    list-style-type: none;
    padding-left: 5px;
}

.filterbox {
    margin-left: 10px;
}
